@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');

body {
    font-family: Gaegu, sans-serif;
    padding: 1rem;
    text-align: center;
}

.wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-size: 3em;
    margin: 1rem;
}

h3 {
    font-size: 2em;
}

.chart {
    margin: 1.5em;
}

p {
    font-size: 2em;
}

/* #id svg g .roughtype text {
    font-size: 2rem;
} */

@media screen and (max-width:450px){
    p {
      font-size: 3em;
    }
}