@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');

body {
    font-family: Gaegu, sans-serif;
    padding: 1em 0.5em;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

a {
    color: #999999;
}

a:visited {
    color: #999999;
}

a:hover {
	text-decoration: none;
	background-color: #787878;
	color: #fff;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

.wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-size: 50px;
    margin: 1em;
    padding: 0 0.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 3em;
    margin-bottom: 0;
}

h3 {
    font-size: 2.5em;
    margin: 0.5em;
}

h4 {
    font-size: 2em;
    font-style: italic;
    margin: 0;
}

.chart {
    margin: 0.5em;
}

p {
    font-size: 2em;
    margin: 0;
}

#fiction {
    color: #FF7F50;
}

#nonfiction {
    color: #87ceeb
}

#female {
    color: #008000;
}

#male {
    color: #87CEEB;
}

#third-gender {
    color: #717374;
}

#younger {
    color: #8700DB;
}

#adult {
    color: #C700C7;
}

#poc-yes {
    color: #ff7f50;
}

#poc-no {
    color: #87CEEB;
}

#poc-na {
    color: #66c2a5;
}

.credit {
    margin-top: 5em;
    font-size: 1.75em;
}

.btn-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.btn-left, .btn-right, .btn-middle {
    width: 100px; /*75px;*/
    background: darkslategray;
    color: white;
    padding: 0.2em 0.1em;
    font-size: 2.2em; /*1.75em;*/
    opacity: 0.6;
}

.btn-left {
    border: 1px solid darkslategray;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.btn-right {
    border: 1px solid darkslategray;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.btn-middle {
    border: 1px solid darkslategray;
}

.btn-left:hover, .btn-right:hover, .btn-middle:hover {
    opacity: 0.8;
}

.btn-left.active, .btn-right.active, .btn-middle.active {
    opacity: 1;
}