/* @import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');


body {
    /* font-family: Gaegu, sans-serif; */
    font-family: Capriola, sans-serif;
    text-align: center;
    max-width: 800px;
    margin: 2rem auto;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆</text></svg>") 16 0,auto; /*!remojicursor.app*/
}

a {
    color: #999999;
}

a:visited {
    color: #999999;
}

a:hover {
	text-decoration: none;
	background-color: #787878;
	color: #fff;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆</text></svg>") 16 0,auto; /*!remojicursor.app*/
}

.wrapper {
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

h1 {
    font-size: 4rem;
    margin: 0.5rem;
    line-height: 130%;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 130%;
}

h3 {
    font-size: 2rem;
    margin: 2.5rem 0.5rem 1rem;
}

.chart {
    margin: 0.5rem;
}

p {
    font-size: 1.5rem;
    margin: 0.5rem 0;;
}

#fiction {
    color: #FF7F50;
}

#nonfiction {
    color: #87ceeb
}

#poetry {
    color: #8b008b;
}

#female {
    color: #008000;
}

#male {
    color: #00008b;
}

#non-binary {
    color: #ff7f50;
}

#multiple {
    color: purple;
}  

#unknown {
   color:#8e8e8e;
}

#younger {
    color: #C700C7;
}

#adult {
    color: #8700DB;
}

#middlegrade {
    color: #45b3e0;
}

#poc-yes {
    color: #87CEEB;
}

#poc-no {
    color: #66c2a5;
}

#poc-na {
    color: #8e8e8e;
}

.icon-container {
    margin: 2rem 0;
    text-align: center;
}

.credit {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 0.5rem;
}

.btn-container {
    margin: 0 0 1rem;
    justify-content: center;
    display: flex;
    flex-direction: row;

    .btn-left, .btn-right, .btn-middle {
        background: darkslategray;
        color: white;
        padding: 1rem 1.5rem;
        font-size: 2.5rem;
        opacity: 0.6;
    }
    
    .btn-left {
        border: 1px solid darkslategray;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }
    
    .btn-right {
        border: 1px solid darkslategray;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
    
    .btn-middle {
        border: 1px solid darkslategray;
    }
    
    .btn-left:hover, .btn-right:hover, .btn-middle:hover {
        opacity: 0.8;
    }
    
    .btn-left.active, .btn-right.active, .btn-middle.active {
        opacity: 1;
    }
}

li {
    font-size: 2rem;
}